$my-background:url("fadi.jpg");
$my-color:darkgreen;


body{
    background:$my-background;
    color: $my-color;
    background-size: cover;
}
div{
    text-align: center;
    h1{
        font-family: Verdana;
        color: red;
    }
}