
ul{
  margin: 0 auto;
  background: rgb(139, 184, 33);
  height: 40px;
  
}  
li a {
  color:red; 
  background-color: aqua;
  border-radius: 10%;

 
}
li{
  display: inline-block;
  margin:5px ;
  width: 110px;
}
li :hover{
  color:blue;
  background:rosybrown;
}
