<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hi this is my Contact  </h1>
    <h2>my email is ; <%= email %> <br>
        my adress is ; <%= adress %> <br>
        my phone is ; <%= phone %>
     </h2>
</body>
</html>
