.main>img{
    position: absolute;
    top: 0;
    z-index: 1;

    
}
#img1{
    top: 20px;
    left: 20px;
}
#img2{
    top: 200px;
    left: 200px;
}
#img3{
    top: 400px;
    left: 400px;
}
#img4{
    top: 600px;
    left: 600px;
}
img:hover{
    z-index: 2;
    border-radius: 50px;
    transition: 0.5s;

}